<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <h1>Please click here to go to the product page</h1>
    <!-- Add an image to the homepage -->
    <!-- <img src="example.jpg" alt="Example Image" width="500" height="600"> -->
    <!-- Add a link to the products page -->
    <h2><a href="/products">Please click here to go to the product page</a></h2>
</body>
</html>
